.form {

    &-login {
        .field-wrapper {
            width: 200px;
            margin: 5px auto;
        }
        button[type="submit"] {
            margin: 10px auto 0;
            display: block;
        }
    }

    &-addNews {
        .row {
            margin-bottom: 20px;
        }
        button[type="submit"] {
            margin: 0 0 0 auto;
            width: 200px;
            display: block;
        }
    }
}


.field-wrapper {

    & > span {
        display: block;
        margin-bottom: 10px;
        position: relative;
        color: var(--gray);
        pointer-events: none;
        &[dataerrors]::after {
            content: ' ' attr(dataerrors) ' ';
            background: #fff3cd;
            margin-left: 0.25rem;
            font-size: 0.7rem;
            color: #664d03;
            padding: 0.25rem;
            border-radius: 0.25rem;
        }
    }


}

.field {
    cursor: pointer;
    font: inherit;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: #000;
    font-weight: 600;
    padding: 0 10px;

    &_password {
        &-wrapper {
            position: relative;
        }
        &-eyeIcon {
            cursor: pointer;
            position: absolute;
            right: 2%;
            bottom: 5px;
        }
    }

    &_search {
        width: 300px;
    }

    &_textarea {

        resize: none;
        overflow: hidden;
        height: 100px;
        padding-top: 10px;

    }


}
